<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">




    <!-- Cookie Chou Section1-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="In 2017, we made some moves. Here’s a recap of what we’ve accomplished—">

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'files/analytics.js') }}" ></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'files/js') }}" ></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='files/master.css') }}">
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'files/vendor.js') }}" ></script>
    <!-- Cookie Chou Section1 END -->







    <title>群眾投資平台</title>
    <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">

    <!-- Custom fonts for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/grayscale.min.css') }}">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">群眾投資平台</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- SVG section-5-->

    <section class="section-5">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve" class="svg-background-fit-height">
            <g>
                <path id="squiggle8_2nd" fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M1413.7,167.4
                    c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.3,9.5" style="stroke: rgb(95, 134, 237); visibility: inherit; opacity: 0.21218; stroke-dashoffset: -1.72179; stroke-dasharray: 120.43px, 172.295px;" data-svg-origin="1413.699951171875 167.39999389648438" transform="matrix(1,0,0,1,-69.25737,0)"></path>
                <path id="squiggle7_2nd" fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M1332.7,593.4
                    c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.3,9.5" style="stroke: rgb(95, 134, 237); visibility: inherit; opacity: 5.40107; stroke-dashoffset: -43.8283; stroke-dasharray: 88.8498px, 172.295px;" data-svg-origin="1332.699951171875 593.4000244140625" transform="matrix(1,0,0,1,-51.09625888888887,0)"></path>
                <path id="squiggle6_2nd" fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M1125.7,301.4
                    c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.3,9.5" style="stroke: rgb(95, 134, 237); visibility: inherit; opacity: 2.49218; stroke-dashoffset: -20.2234; stroke-dasharray: 106.553px, 172.295px;" data-svg-origin="1125.699951171875 301.3999938964844" transform="matrix(1,0,0,1,-61.27736999999998,0)"></path>
                <path id="squiggle5_2nd" fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M834.7,97.4
                    c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.3,9.5" style="stroke: rgb(95, 134, 237); visibility: inherit; opacity: 0.00773556; stroke-dashoffset: -0.0627721; stroke-dasharray: 121.674px, 172.295px;" data-svg-origin="834.7000122070312 97.4000015258789" transform="matrix(1,0,0,1,-69.97292555555555,0)"></path>
                <path id="squiggle4_2nd" fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M482.7,349.4
                    c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.3,9.5" style="stroke: rgb(95, 134, 237); visibility: inherit; opacity: 1.4544; stroke-dashoffset: -11.802; stroke-dasharray: 112.869px, 172.294px;" data-svg-origin="482.70001220703125 349.3999938964844" transform="matrix(1,0,0,1,-64.9095922222222,0)"></path>
                <path id="squiggle3_2nd" fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M342.7,111.4
                    c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5s15.1,9.5,30.3,9.5" style="stroke: rgb(95, 134, 237); visibility: inherit; opacity: 3.80774; stroke-dashoffset: -30.8994; stroke-dasharray: 98.5487px, 172.298px;" data-svg-origin="342.70001220703125 111.4000015258789" transform="matrix(1,0,0,1,-56.67292555555553,0)"></path>
                <path id="squiggle2_2nd" fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M140.7,613.4
                    c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5s15.1,9.5,30.3,9.5" style="stroke: rgb(95, 134, 237); visibility: inherit; opacity: 7.27218; stroke-dashoffset: -59.013; stroke-dasharray: 77.4637px, 172.298px;" data-svg-origin="140.6999969482422 613.4000244140625" transform="matrix(1,0,0,1,-44.547369999999965,0)"></path>
                <path id="squiggle1_2nd" fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M32.7,266.4
                    c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5c15.1,0,15.1,9.5,30.2,9.5c15.1,0,15.1-9.5,30.3-9.5s15.1,9.5,30.3,9.5" style="stroke: rgb(95, 134, 237); visibility: inherit; opacity: 0.694402; stroke-dashoffset: -5.635; stroke-dasharray: 117.497px, 172.298px;" data-svg-origin="32.70000076293945 266.3999938964844" transform="matrix(1,0,0,1,-67.56959222222221,0)"></path>
            </g>
        </svg>
        <div class="two-column">
            <div class="left">
                <span class="delimeter"></span>
                <h4>High interest rate, low threshold, saving time</h4>
                <h3>GP-invest</h3>
                <p>
                        Our new workspace overlooking downtown San Jose
                        has been thoughtfully designed to inspire creativity and
                        collaboration among team members and clients.

                </p>
            </div>
            <div class="right">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 660.2 585.1" enable-background="new 0 0 660.2 585.1" xml:space="preserve">
                    <g id="bg">
                        <rect x="-1.7" y="-0.3" fill="#E9F0F4" width="660.1" height="585.2"></rect>
                    </g>
                    <g id="illustration">
                        <g id="sun" data-svg-origin="488.5999755859375 40.80000305175781" transform="matrix(0.98436,-0.17613,0.17613,0.98436,-24.909573296328816,188.14718523689208)">
                            <circle fill="#FF5A3C" cx="516.1" cy="68.3" r="27.5"></circle>
                        </g>

                        <path id="squiggle2_1" fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M-3,152.3
		c15.1,0.5,14.8,9.9,29.9,10.4c15.1,0.5,15.4-9,30.5-8.5c15.1,0.5,14.8,9.9,29.9,10.4c15.1,0.5,15.4-9,30.5-8.5s14.8,9.9,30,10.4" style="stroke: rgb(95, 134, 237); stroke-dashoffset: -90.6231; stroke-dasharray: 68.3854px, 172.078px;" data-svg-origin="-3 152.3000030517578" transform="matrix(1,0,0,1,-26.511853200000026,0)"></path>
                        <path id="squiggle1_1_" fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M500,283.8
		c15.1,0.5,14.8,9.9,29.9,10.4c15.1,0.5,15.4-9,30.5-8.5c15.1,0.5,14.8,9.9,29.9,10.4c15.1,0.5,15.4-9,30.5-8.5
		c15.1,0.5,14.8,9.9,30,10.4" style="stroke: rgb(95, 134, 237); stroke-dashoffset: -69.0868; stroke-dasharray: 88.7253px, 172.078px;" data-svg-origin="500 283.79998779296875" transform="matrix(1,0,0,1,-36.84665320000002,0)"></path>
                        <path id="squiggle1_2_" fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M15,387.8
		c15.1,0.5,14.8,9.9,29.9,10.4c15.1,0.5,15.4-9,30.5-8.5c15.1,0.5,14.8,9.9,29.9,10.4c15.1,0.5,15.4-9,30.5-8.5s14.8,9.9,30,10.4" style="stroke: rgb(95, 134, 237); stroke-dashoffset: -50.468; stroke-dasharray: 106.31px, 172.078px;" data-svg-origin="15 387.79998779296875" transform="matrix(1,0,0,1,-45.781453200000016,0)"></path>
                        <g>
                            <path fill="#DBD2D2" d="M435.3,556.5c0,0,4.3-97.8,93.6-97.8s95,112,95,112l-32.6,7.1L435.3,556.5z"></path>
                            <path fill="#E9F0F4" d="M618.4,489.8c-40.4,0-73.1,24.7-73.1,55.1v35h114.9"></path>
                            <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M567.6,505.3c13.2-9.6,31.1-15.5,50.9-15.5
			c12.7,0,24.6,2.4,35,6.7"></path>
                            <rect y="452.6" fill="#B4C8D6" width="218.3" height="81.6"></rect>
                            <polyline fill="#5F86ED" points="71.7,450.4 71.7,443.8 105.7,443.8 105.7,534.2 71.7,534.2 71.7,450.4 		"></polyline>
                            <rect x="15.9" y="443.8" fill="#5F86ED" width="34" height="90.4"></rect>
                            <g>
                                <g>
                                    <rect x="223.4" y="108.4" fill="#E9F0F4" width="172" height="473.5"></rect>
                                    <polygon fill="#B4C8D6" points="223.4,581.9 193.1,581.9 193.1,146.2 223.4,108.4 				"></polygon>
                                </g>
                                <g>
                                    <rect x="220.4" y="67.4" fill="#E9F0F4" width="181.6" height="35"></rect>
                                    <polygon fill="#B4C8D6" points="220.4,102.3 188.4,144.7 188.4,109.8 220.4,67.4 				"></polygon>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M194.9,225.8c2.6-2.7,8.3,2.8,10.9,0.2
					c2.5-2.7-3.2-8.2-0.7-10.9c2.6-2.7,8.3,2.8,10.9,0.2c2.6-2.7-3.2-8.2-0.7-10.9c2.6-2.7,4.9,1.9,8.6,1.4c16.2-2.3,15.8-8,32.1-8
					c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M195.9,165.6c2.6-2.7,8.3,2.8,10.9,0.2
					c2.5-2.7-3.2-8.2-0.7-10.9c2.6-2.7,8.3,2.8,10.9,0.2c2.6-2.7-3.2-8.2-0.7-10.9s4.9,1.9,8.6,1.4c16.2-2.3,15.8-8,32.1-8
					c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M194.9,286.1c2.6-2.7,8.3,2.8,10.9,0.2
					c2.5-2.7-3.2-8.2-0.7-10.9c2.6-2.7,8.3,2.8,10.9,0.2c2.6-2.7-3.2-8.2-0.7-10.9c2.6-2.7,4.9,1.9,8.6,1.4c16.2-2.3,15.8-8,32.1-8
					c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M195.9,346.4c2.6-2.7,8.3,2.8,10.9,0.2
					c2.5-2.7-3.2-8.2-0.7-10.9c2.6-2.7,8.3,2.8,10.9,0.2c2.6-2.7-3.2-8.2-0.7-10.9c2.6-2.7,4.9,1.9,8.6,1.4c16.2-2.3,15.8-8,32.1-8
					c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M196.8,406.7c2.6-2.7,8.3,2.8,10.9,0.2
					c2.5-2.7-3.2-8.2-0.7-10.9c2.6-2.7,8.3,2.8,10.9,0.2c2.6-2.7-3.2-8.2-0.7-10.9c2.6-2.7,4.9,1.9,8.6,1.4c16.2-2.3,15.8-8,32.1-8
					c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8c16.4,0,16.4,8,32.7,8s16.4-8,32.7-8"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M192.8,466.9c3.1-2.7,8.4,3.3,11.4,0.6
					c3.1-2.7-2.2-8.7,0.9-11.4c3.1-2.7,8.4,3.3,11.4,0.6c3.1-2.7-2.2-8.7,0.9-11.4c3.1-2.7,5.3,2.1,9.3,1.6c16.2-2.3,15.8-8,32.1-8
					c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M198.3,497.1c2.6-2.7,8.3,2.8,10.9,0.2
					c2.5-2.7-3.2-8.2-0.7-10.9c2.6-2.7,8.3,2.8,10.9,0.2c2.6-2.7-3.2-8.2-0.7-10.9c2.6-2.7,4.9,1.9,8.6,1.4c16.2-2.3,15.8-8,32.1-8
					c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M198.7,527.2c2.6-2.7,8.3,2.8,10.9,0.2
					c2.5-2.7-3.2-8.2-0.7-10.9c2.6-2.7,8.3,2.8,10.9,0.2c2.6-2.7-3.2-8.2-0.7-10.9c2.6-2.7,4.9,1.9,8.6,1.4c16.2-2.3,15.8-8,32.1-8
					c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8c16.4,0,16.4,8,32.7,8c16.4,0,16.4-8,32.7-8"></path>
                                </g>
                            </g>
                            <rect x="263.2" y="1.6" fill="#E9F0F4" width="176.7" height="583.5"></rect>
                            <line fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" x1="240.8" y1="79.6" x2="234.1" y2="77.5"></line>
                            <polygon fill="#DBD2D2" points="447.4,35.2 440.3,41.3 268.7,41.3 265.4,35.2 447.4,35.6 		"></polygon>
                            <polyline fill="#E9F0F4" points="659.2,568.9 659.2,539.9 615.1,539.9 615.1,532.3 523.8,532.3 523.8,546.8 523.8,559.4
			499.2,559.4 499.2,533.6 499.2,523.5 463.9,523.5 463.9,540.7 431.6,540.7 431.6,581.6 		"></polyline>
                            <g>
                                <polyline fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" points="642.9,539.3 614.8,539.3 614.8,531.7
				523.5,531.7 523.5,546.2 523.5,558.8 498.9,558.8 498.9,533 498.9,522.9 463.6,522.9 463.6,540 431.3,540 431.3,581 			"></polyline>
                                <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M440.8,353.5"></path>
                                <line fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" x1="440.8" y1="349.5" x2="440.8" y2="441.7"></line>
                                <line fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" x1="440.8" y1="53.2" x2="440.8" y2="285.5"></line>
                                <polygon fill="#DBD2D2" points="268.7,581 238.5,581 238.5,79.1 268.7,41.3 			"></polygon>
                            </g>
                            <g>
                                <polyline fill="#E9F0F4" points="377.7,0.2 447.4,0.2 447.4,35.2 265.8,35.2 265.8,0.2 343.1,0.2 			"></polyline>
                                <polygon fill="#DBD2D2" points="265.8,35.2 233.8,77.6 233.8,42.7 265.8,0.2 			"></polygon>
                            </g>
                            <g>
                                <polygon fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" points="268.3,54.4 242.7,83.7 242.7,109.5
				268.3,80.2 411,80.2 411,54.4 			"></polygon>
                            </g>
                            <g>
                                <line fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" x1="285.1" y1="35.2" x2="265.8" y2="35.2"></line>
                                <polyline fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" points="370.8,0.2 447.4,0.2 447.4,35.2
				344.3,35.2 			"></polyline>
                                <line fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" x1="265.8" y1="0.2" x2="329.2" y2="0.2"></line>
                            </g>
                            <rect x="284.3" y="109.8" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="323.1" y="109.8" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="361.8" y="109.8" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="400.6" y="109.8" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="284.3" y="159.9" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="323.1" y="159.9" fill="#E4DEDE" width="21.7" height="26.5"></rect>
                            <rect x="361.8" y="159.9" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="400.6" y="159.9" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="284.3" y="210" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="323.1" y="210" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="361.8" y="210" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="400.6" y="210" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="284.3" y="260.1" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="323.1" y="260.1" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="361.8" y="260.1" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="400.6" y="260.1" fill="#E4DEDE" width="21.7" height="26.5"></rect>
                            <rect x="284.3" y="310.2" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="323.1" y="310.2" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="361.8" y="310.2" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="400.6" y="310.2" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="284.3" y="360.3" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="323.1" y="360.3" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="361.8" y="360.3" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="400.6" y="360.3" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="284.3" y="410.4" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="323.1" y="410.4" fill="#E4DEDE" width="21.7" height="26.5"></rect>
                            <rect x="361.8" y="410.4" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="400.6" y="410.4" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="284.3" y="460.5" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="323.1" y="460.5" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="361.8" y="460.5" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="400.6" y="460.5" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="284.3" y="510.6" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="323.1" y="510.6" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <path fill="#FF5A3C" d="M361.4,581h-18v-23.2c0-5,4-9,9-9l0,0c5,0,9,4,9,9V581z"></path>
                            <rect x="361.8" y="510.6" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <rect x="400.6" y="510.6" fill="#C9D3DC" width="21.7" height="26.5"></rect>
                            <g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M344.2,417.9c-1.6,2.5-3.3,1.4-4.8,3.9
					c-1.6,2.5,0.1,3.6-1.5,6c-1.6,2.5-3.3,1.4-4.8,3.9c-1.6,2.5,0.1,3.6-1.5,6c-1.6,2.5-3.3,1.4-4.8,3.9"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M348.5,424.4c-1.4,2-3,0.9-4.4,3
					c-1.4,2,0.3,3.1-1,5.2c-1.4,2-3,0.9-4.4,3c-1.4,2,0.3,3.1-1,5.2c-1.4,2-3,0.9-4.4,3"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M346.1,164.6c-1.6,2.5-3.3,1.4-4.8,3.9
					c-1.6,2.5,0.1,3.6-1.5,6c-1.6,2.5-3.3,1.4-4.8,3.9c-1.6,2.5,0.1,3.6-1.5,6c-1.6,2.5-3.3,1.4-4.8,3.9"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M350.4,171.1c-1.4,2-3,0.9-4.4,3
					c-1.4,2,0.3,3.1-1,5.2c-1.4,2-3,0.9-4.4,3c-1.4,2,0.3,3.1-1,5.2c-1.4,2-3,0.9-4.4,3"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M420.7,263.8c-1.6,2.5-3.3,1.4-4.8,3.9
					c-1.6,2.5,0.1,3.6-1.5,6c-1.6,2.5-3.3,1.4-4.8,3.9c-1.6,2.5,0.1,3.6-1.5,6s-3.3,1.4-4.8,3.9"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M425,270.3c-1.4,2-3,0.9-4.4,3
					c-1.4,2,0.3,3.1-1,5.2c-1.4,2-3,0.9-4.4,3c-1.4,2,0.3,3.1-1,5.2s-3,0.9-4.4,3"></path>
                                </g>
                            </g>
                            <path fill="#E9F0F4" d="M258.8,518.1c-0.5-30.9-25.7-55.8-56.7-55.8h-5.7c-31,0-56.2,24.9-56.7,55.8h-12.3v64.3h131.4v-63.3v0
			L258.8,518.1L258.8,518.1z"></path>
                            <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M258.8,579.6v-61.4v-0.9h0
			c-0.5-30.9-25.7-55.8-56.7-55.8h-5.7c-31,0-56.2,24.9-56.7,55.8h-12.3v16.5 M127.4,533.7"></path>
                            <polyline fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" points="127.9,534.2 0.3,534.2 0.3,489.8 		"></polyline>
                            <rect x="172.2" y="521.9" fill="#C9D3DC" width="51" height="12.3"></rect>
                            <line fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" x1="220.4" y1="67.4" x2="233.3" y2="67.4"></line>
                            <line fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" x1="227.6" y1="101.9" x2="238.5" y2="101.9"></line>
                            <g>
                                <g>
                                    <path fill="#DEE4E8" d="M651.4,439c1.9,0,1.9-3,0-3C649.4,436,649.4,439,651.4,439L651.4,439z"></path>
                                </g>
                            </g>
                        </g>
                        <g id="4th_floorblue">
                            <polygon fill="#5F86ED" points="268.3,54.4 242.7,83.7 242.7,109.5 268.3,80.2 410.5,80.2 410.5,54.4 		"></polygon>
                        </g>
                        <g id="4th_floor_1_" style="stroke: rgb(95, 134, 237); visibility: inherit; opacity: 0.006962; stroke-dashoffset: -1; stroke-dasharray: 1e-05px, 11px;">
                            <polygon fill="#FF5A3C" points="268.3,54.4 242.7,83.7 242.7,109.5 268.3,80.2 410.5,80.2 410.5,54.4 		"></polygon>
                        </g>
                        <g>
                            <g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M307.8,50.2c-2,3.1-3.7,2-5.7,5
					c-2,3.1-0.3,4.2-2.4,7.2c-2,3.1-3.7,2-5.7,5c-2,3.1-0.4,4.2-2.4,7.2s-3.7,2-5.7,5"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M313.2,58.2c-1.7,2.5-3.4,1.4-5.1,3.9
					c-1.7,2.5-0.1,3.7-1.8,6.2c-1.7,2.5-3.4,1.4-5.1,3.9c-1.7,2.5-0.1,3.7-1.8,6.2c-1.7,2.5-3.4,1.4-5.1,3.9"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M266.3,75.2c-2.3,2.9-3.9,1.6-6.2,4.5
					c-2.3,2.9-0.7,4.1-3,7c-2.3,2.9-3.9,1.6-6.2,4.5c-2.3,2.9-0.7,4.1-3,7s-3.9,1.6-6.2,4.5"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M270.9,83.6c-2,2.3-3.5,1.1-5.5,3.4
					c-2,2.3-0.4,3.6-2.4,6c-2,2.3-3.5,1.1-5.5,3.4c-2,2.3-0.4,3.6-2.4,6c-2,2.3-3.5,1.1-5.5,3.4"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M359.8,50.2c-2,3.1-3.7,2-5.7,5
					c-2,3.1-0.3,4.2-2.4,7.2c-2,3.1-3.7,2-5.7,5c-2,3.1-0.4,4.2-2.4,7.2s-3.7,2-5.7,5"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M365.1,58.2c-1.7,2.5-3.4,1.4-5.1,3.9
					c-1.7,2.5-0.1,3.7-1.8,6.2c-1.7,2.5-3.4,1.4-5.1,3.9c-1.7,2.5-0.1,3.7-1.8,6.2c-1.7,2.5-3.4,1.4-5.1,3.9"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M411.8,50.2c-2,3.1-3.7,2-5.7,5
					c-2,3.1-0.3,4.2-2.4,7.2c-2,3.1-3.7,2-5.7,5c-2,3.1-0.4,4.2-2.4,7.2s-3.7,2-5.7,5"></path>
                                </g>
                                <g>
                                    <path fill="none" stroke="#5F86ED" stroke-width="0.5" stroke-miterlimit="10" d="M417.1,58.2c-1.7,2.5-3.4,1.4-5.1,3.9
					c-1.7,2.5-0.1,3.7-1.8,6.2c-1.7,2.5-3.4,1.4-5.1,3.9c-1.7,2.5-0.1,3.7-1.8,6.2c-1.7,2.5-3.4,1.4-5.1,3.9"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>



            </div>
        </div>

    </section>



    <div id="indicator" class="off">
        <div class="current-container">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
        </div>
        <div class="indicator-delimeter"></div>
        <span class="total">4</span>
    </div>

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'files/master.js') }}" ></script>


<!-- SVG section-5 END-->


    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto">群眾投資</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">高利率 低門檻 省時間</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Built with Bootstrap 4</h2>
            <p class="text-white-50">Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
              <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
          </div>
        </div>
        <img src="{{ url_for('static',filename='img/ipad.png') }}" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{{ url_for('static',filename='img/bg-masthead.jpg') }}" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Shoreline</h4>
              <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="{{ url_for('static',filename='img/demo-image-01.jpg') }}" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Misty</h4>
                  <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{{ url_for('static',filename='img/demo-image-02.jpg') }}" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Mountains</h4>
                  <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">4923 Market Street, Orlando FL</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">hello@yourdomain.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+1 (555) 902-8832</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Your Website 2018
      </div>
    </footer>

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'vendor/jquery/jquery.min.js') }}" ></script>
    <!-- Bootstrap core JavaScript -->
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'vendor/jquery/jquery.min.js') }}" ></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}" ></script>

    <!-- Plugin JavaScript -->
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js') }}" ></script>

    <!-- Custom scripts for this template -->
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/grayscale.min.js') }}" ></script>

  </body>

</html>
